.header-row {
  margin-top: 50px;
  margin-bottom: 10px;
}

.header-row h4 {
  margin-top: 8px;
}

.set-row {
  margin-bottom: 10px;
}

.input-form {
  display: inline-block;
  float: right;
  text-align: right;
  width: 70%;
}

#search-input {
  display: inline-block;
  width: 60%;
}

.table-container {
  margin-top: 1em;
  overflow: auto;
  margin-bottom: 40px;
  max-width: fit-content;
}

table {
  td, th {
    vertical-align: middle;
    text-align: center;
  }
}

mat-expansion-panel {
  text-align: center;
}

.form-wrapper {
  display: inline-block;
  margin: 20px auto;
}

.input-container {
  vertical-align: top;
  width: 35%;
  margin: 20px 30px;
  display: inline-block;
}

td {
  .div-container {
    display: block;
    width: max-content;
    margin: 0 auto 10px auto;
    text-align: center;
    //div {
    //  text-align: left;
    //}
  }

  .div-container:last-child {
    margin-bottom: 0;
  }
}

.flexible {
  display: flex;
  justify-content: center;
}
