<section class="view intro-2">
  <div class="full-bg-img mask rgba-gradient">
    <div class="login-container">
      <section [ngClass]="{'error_1': message === true}" class="login" id="login">
        <header>
          <h2>Airport</h2>
          <h4>Login</h4>
        </header>
        <form (ngSubmit)="onSubmit()" [formGroup]="form" class="login-form">
          <div
            [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}"
            class="form-group"
          >
            <label for="email">Email</label>
            <input
              class="form-control underlined"
              formControlName="email"
              id="email"
              placeholder="Enter your Email"
              type="text"
            >
            <span
              *ngIf="form.get('email').invalid && form.get('email').touched"
              class="form-help-text"
            >
      <span *ngIf="form.get('email')['errors']['required']">Email is required</span><br>
    </span>
          </div>
          <div
            [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}"
            class="form-group"
          >
            <label for="password">Password</label>
            <input
              class="form-control underlined"
              formControlName="password"
              id="password"
              placeholder="Enter your Password"
              type="password"
            >
            <span
              *ngIf="form.get('password').invalid && form.get('password').touched"
              class="form-help-text"
            >
      <span *ngIf="form.get('password')['errors']['required']">Password is required</span>
    </span>
          </div>
          <div class="submit-container">
            <button class="login-button" type="submit">Login</button>
            <button class="login-button" routerLink="/signup" type="submit">Register</button>
          </div>
        </form>
      </section>
    </div>

  </div>
</section>

