.login-container {
  width: 30%;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  border: #000000 solid;
  background-color: #009688;
}

.btn-primary {
  background-color: #2196f3;
}

p, span, label {
  color: #fff;
}
