<mat-card>
  <mat-form-field class="container-form-field">
    <input matInput [placeholder]="searchPlaceholder"
           [(ngModel)]="filterString">
  </mat-form-field>

  <h4 *ngIf="(items | filterItems:filterString).length === 0"
      class="container-form-field">No items available</h4>

  <mat-form-field class="container-form-field">
    <mat-select [disabled]="(items | filterItems:filterString).length === 0"
                [placeholder]="selectorPlaceholder"
                (selectionChange)="emitSelection($event.value)">
      <mat-option *ngFor="let item of (items | filterItems:filterString)"
                  [value]="item">{{item.name}}</mat-option>
      <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
    </mat-select>
  </mat-form-field>
</mat-card>
