<mat-card>
  <mat-form-field class="container-form-field">
    <input matInput [placeholder]="searchPlaceholder"
           [(ngModel)]="filterString">
  </mat-form-field>

  <h4 *ngIf="(items | filterItems:filterString).length === 0"
      class="container-form-field">No items available</h4>


  <mat-form-field class="container-form-field">
    <form [formGroup]="selectorForm">
      <mat-select formControlName="selected" [disabled]="(items | filterItems:filterString).length === 0"
                  [placeholder]="selectorPlaceholder"
                  (selectionChange)="emitSelection($event.value)">
        <mat-option *ngFor="let item of (items | filterItems:filterString)"
                    [value]="item">{{item.name}}</mat-option>
      </mat-select>
    </form>
  </mat-form-field>
  <mat-error *ngIf="!selectorForm.valid">You must make a selection</mat-error>
</mat-card>
