<app-navbar></app-navbar>
<div class="container">
  <div class="row header-row">
    <h4>Passengers</h4>
  </div>
  <div class="row set-row">
    <div class="col-md-6">
      <div class="text-left">
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="newModal.show(); onNew()" mdbWavesEffect>New</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group input-form">
        <input type="text" class="form-control" id="search-input" placeholder="Search"
               [(ngModel)]="searchString" (keypress)="onEnter($event)">
      </div>
    </div>
  </div>
  <div *ngFor="let item of items; let i = index">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.passenger.firstName}} {{item.passenger.lastName}}
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="First name" [readonly]="true" value="{{item.passenger.firstName}}">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last name" [readonly]="true" value="{{item.passenger.lastName}}">
            </mat-form-field>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="SN of passport" [readonly]="true" value="{{item.passport.serialNumber}}">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Country"  [readonly]="true" value="{{item.passport.country}}">
            </mat-form-field>
          </div>
        </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Date of birth"  [readonly]="true" value="{{item.passport.birthDate}}">
          </mat-form-field>
        </div>
        <div class="col-md-6"></div>
      </div>
        <div class="row">
          <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect  (click)="onEdit(i);">Edit</button>
          <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Cancel" (click)="showRemoveConfirmModal(i);" mdbWavesEffect>Delete</button>
        </div>

    </mat-expansion-panel>
    <hr>
  </div>
</div>

<div mdbModal #newModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="newModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="newModalLabel">Add new passenger</h4>
      </div>
      <div>
        <app-dynamic-form *ngIf="editMode" [editMode]="editMode" [questions]="questions" [submitType]="submitType"
                          [currentItem]="currentItem" (isCancel)="onCancel($event)" [editedForm]="editForm"
                          (returnedItem)="onSave($event)"></app-dynamic-form>
        <app-dynamic-form *ngIf="!editMode" [questions]="questions" [submitType]="submitType"
                          (isCancel)="onCancel($event)" (returnedItem)="onSave($event)"></app-dynamic-form>
      </div>
    </div>
  </div>
</div>

<div mdbModal #removeConfirmModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="removeConfirmModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="removeConfirmModal">Warning message</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this item?</p>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Cancel"
                (click)="removeConfirmModal.hide(); deleteId=0;" mdbWavesEffect>Cancel
        </button>
        <button type="button" mdbBtn color="danger" class="relative waves-light"
                (click)="onDelete(deleteId); deleteId=0; removeConfirmModal.hide();" mdbWavesEffect>Delete
        </button>
      </div>
    </div>
  </div>
</div>

