<app-navbar></app-navbar>
<div class="container table-container">
  <div class="reglist">
    <div class="row">
      <div class="col-md-6">
        <div class="text-left">
          <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show(); onNew()" mdbWavesEffect>New</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group input-form">
          <input type="text" class="form-control" id="search-input" placeholder="Search" [(ngModel)]="searchValue">
          <button type="submit" class="btn btn-primary btn-search" (click)="onSearch()">Search</button>
        </div>
      </div>
    </div>


    <!--<button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Launch demo modal</button>-->

    <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="myModalLabel">Add new user</h4>
          </div>
          <form (ngSubmit)="onSave(form)" [formGroup]="form">
          <div class="modal-body mx-3">
            <!--First Name-->
            <div class="md-form mb-5">
              <input *ngIf="editMode" data-error="Required field" data-success="" class="form-control" type="text" [(ngModel)]="currentUser.firstname" formControlName="firstname" id="editFirstname" mdbInputDirective>
              <label *ngIf="editMode"  for="editFirstname">First Name</label>
              <input *ngIf="!editMode" data-error="Required field" data-success="" class="form-control" type="text" ngModel formControlName="firstname" id="saveFirstname" mdbInputDirective>
              <label *ngIf="!editMode" for="saveFirstname">First Name</label>
            </div>
            <!--Last Name-->
            <div class="md-form mb-5">
              <input *ngIf="editMode" data-error="Required field" data-success="" class="form-control" type="text" [(ngModel)]="currentUser.lastname" formControlName="lastname" id="editLastname" mdbInputDirective>
              <label *ngIf="editMode" for="editLastname">Last Name</label>
              <input *ngIf="!editMode" data-error="Required field" data-success="" class="form-control" type="text" ngModel formControlName="lastname" id="saveLastname" mdbInputDirective>
              <label *ngIf="!editMode" for="saveLastname">Last Name</label>
            </div>
            <!--Email-->
            <div class="md-form mb-5">
              <input *ngIf="editMode" data-error="Required field" data-success="" class="form-control" type="email" [(ngModel)]="currentUser.email" formControlName="email" id="editEmail" mdbInputDirective>
              <label *ngIf="editMode" for="editEmail">Your email</label>
              <input *ngIf="!editMode" data-error="Required field" data-success="" class="form-control" type="email" ngModel formControlName="email" id="saveEmail" mdbInputDirective>
              <label *ngIf="!editMode" for="saveEmail">Your email</label>
            </div>
            <!--Password>-->
            <div class="md-form mb-5" *ngIf="!editMode">
              <input type="password" ngModel data-error="Required field" data-success="" class="form-control validate" formControlName="password" id="password" mdbInputDirective>
              <label for="password">Password</label>
            </div>
            <!--Phonenumber-->
            <div class="md-form mb-5">
              <input *ngIf="editMode" data-error="Required field" data-success="" class="form-control" type="text" [(ngModel)]="currentUser.phonenumber" formControlName="phonenumber" id="editPhonenumber" mdbInputDirective>
              <label *ngIf="editMode" for="editPhonenumber">Phonenumber</label>
              <input *ngIf="!editMode" data-error="Required field" data-success="" class="form-control" type="text" ngModel formControlName="phonenumber" id="savePhonenumber" mdbInputDirective>
              <label *ngIf="!editMode" for="savePhonenumber">Phonenumber</label>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Cancel" (click)="onCancel(form); basicModal.hide()" mdbWavesEffect>Cancel</button>
            <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect [disabled]="!form.valid" (click)="basicModal.hide()">{{submitType}}</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h4>Filtering</h4>
      <div *ngFor="let item of filterItems; let i = index">
        <mdb-checkbox (change)="checkBoxClick(item)" [checked]="item.checked">{{item.title}}</mdb-checkbox>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <!--<th>Password</th>-->
          <th>Phone number</th>
          <!--<th>Role</th>-->
          <th></th>
          <th></th>
        </tr>
        </thead>

        <tbody>

        <tr *ngFor="let user of users; let i = index">
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.email }}</td>
          <!--<td>{{ user.password }}</td>-->
          <td>{{ user.phonenumber }}</td>
          <!--<td>{{ user.role }}</td>-->
          <td>
            <button type="button" class="btn btn-info" (click)="basicModal.show();onEdit(i)">Edit</button>
          </td>
          <td>

            <button type="button" class="btn btn-danger" (click)="removeConfirmModal.show(); deleteid = i;">Delete</button>

          </td>
          <div mdbModal #removeConfirmModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="removeConfirmModal.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="removeConfirmModal">Warning message</h4>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete this item?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Cancel" (click)="removeConfirmModal.hide(); deleteid=0;" mdbWavesEffect>Cancel</button>
                  <button type="button" mdbBtn color="danger" class="relative waves-light" (click)="onDelete(deleteid); deleteid=0;" mdbWavesEffect>Delete</button>
                </div>
              </div>
            </div>
          </div>

        </tr>

        </tbody>

      </table>

    </div>
    <div class="regentry" *ngIf="showNew">

      <form (ngSubmit)="onSave()">

      </form>

    </div>
    <br>
  </div>


  <div class="container">
    <nav aria-label="Page navigation example" *ngIf="paging">
      <ul class="pagination justify-content-end">
        <li class="page-item" [ngClass]="{'disabled': numberOfPage===1}">
          <a class="page-link" (click)="getTenUsers(numberOfPage-1, false)" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">{{numberOfPage}}</a></li>
        <li class="page-item"><a class="page-link" href="#">{{countOfPages}}</a></li>
        <li class="page-item" [ngClass]="{'disabled': numberOfPage===countOfPages}">
          <a class="page-link" (click)="getTenUsers(numberOfPage+1, true)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>


