<app-navbar></app-navbar>
<div class="container table-container">
  <div class="reglist">
    <div class="row">
      <div class="col-md-6">
        <div class="text-left">
          <button type="submit" class="btn btn-primary" (click)="onNew()">New</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group input-form">
          <input type="text" class="form-control" id="search-input" placeholder="Search" [(ngModel)]="searchValue">
          <button type="submit" class="btn btn-primary btn-search" (click)="onSearch()">Search</button>
        </div>
      </div>
    </div>

    <div *ngIf="showNew">
      <form (ngSubmit)="onSave(form)" #form="ngForm">
        <div class="form-group row">
          <label class="col-2 col-form-label">First Name</label>
          <div class="col-10">
            <input *ngIf="editMode" class="form-control" type="text" [(ngModel)]="currentUser.firstname" name="firstname" >
            <input *ngIf="!editMode" class="form-control" type="text" ngModel name="firstname" >
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Last Name</label>
          <div class="col-10">
            <input *ngIf="editMode" class="form-control" type="text" [(ngModel)]="currentUser.lastname" name="lastname" >
            <input *ngIf="!editMode" class="form-control" type="text" ngModel name="lastname" >
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Email</label>
          <div class="col-10">
            <input *ngIf="editMode" class="form-control" type="text" [(ngModel)]="currentUser.email" name="email" >
            <input *ngIf="!editMode" class="form-control" type="text" ngModel name="email" >
          </div>
        </div>
        <div class="form-group row">
        <label class="col-2 col-form-label">Password</label>
        <div class="col-10">
        <input *ngIf="editMode" class="form-control" type="text" [(ngModel)]="currentUser.password" name="password">
        <input *ngIf="!editMode" class="form-control" type="text" ngModel name="password">
        </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Phone number</label>
          <div class="col-10">
            <input *ngIf="editMode" class="form-control" type="text" [(ngModel)]="currentUser.phonenumber" name="phonenumber">
            <input *ngIf="!editMode" class="form-control" type="text" ngModel name="phonenumber">
          </div>
        </div>
        <!--<div class="form-group row">-->
        <!--<label class="col-2 col-form-label">Role</label>-->
        <!--<div class="col-10">-->
        <!--<input *ngIf="editMode" class="form-control" type="text" [(ngModel)]="currentUser.role" name="role">-->
        <!--<input *ngIf="!editMode" class="form-control" type="text" ngModel name="role">-->
        <!--</div>-->
        <!--</div>-->
        <button type="submit" class="btn btn-success">{{submitType}}</button>
        <button class="btn btn-primary" (click)="onCancel(form)">Cancel</button>
      </form>

    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h4>Filtering</h4>
      <div *ngFor="let item of filterItems; let i = index">
        <mdb-checkbox (change)="checkBoxClick(item)" [checked]="item.checked">{{item.title}}</mdb-checkbox>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <!--<th>Password</th>-->
          <th>Phone number</th>
          <!--<th>Role</th>-->
          <th></th>
          <th></th>
        </tr>
        </thead>

        <tbody>

        <tr *ngFor="let user of users; let i = index">
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.email }}</td>
          <!--<td>{{ user.password }}</td>-->
          <td>{{ user.phonenumber }}</td>
          <!--<td>{{ user.role }}</td>-->
          <td>
            <button type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button>
          </td>
          <td>

            <button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>

          </td>

        </tr>

        </tbody>

      </table>

    </div>
    <div class="regentry" *ngIf="showNew">

      <form (ngSubmit)="onSave()">

      </form>

    </div>
    <br>
  </div>
  <div class="container">
    <nav aria-label="Page navigation example" *ngIf="paging">
      <ul class="pagination justify-content-end">
        <li class="page-item" [ngClass]="{'disabled': numberOfPage===1}">
          <a class="page-link" (click)="getTenUsers(numberOfPage-1, false)" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">{{numberOfPage}}</a></li>
        <li class="page-item"><a class="page-link" href="#">{{countOfPages}}</a></li>
        <li class="page-item" [ngClass]="{'disabled': numberOfPage===countOfPages}">
          <a class="page-link" (click)="getTenUsers(numberOfPage+1, true)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>


