<app-project-center
  [questions]="questions"
  [settings]="settings"
  [header]="'Countries'"
></app-project-center>


<!--<app-navbar></app-navbar>-->
<!--<div class="container table-container">-->
<!--<h1>Countries</h1>-->
<!--<div class="reglist">-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="text-left">-->
<!--<button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show(); onNew()"-->
<!--mdbWavesEffect>New-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="form-group input-form">-->
<!--<input type="text" class="form-control" id="search-input" placeholder="Search" [(ngModel)]="searchValue">-->
<!--<button type="submit" class="btn btn-primary btn-search" (click)="onSearch()">Search</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--&lt;!&ndash;<button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Launch demo modal</button>&ndash;&gt;-->

<!--<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"-->
<!--aria-labelledby="myBasicModalLabel" aria-hidden="true">-->
<!--<div class="modal-dialog" role="document">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">-->
<!--<span aria-hidden="true">×</span>-->
<!--</button>-->
<!--<h4 class="modal-title w-100" id="myModalLabel">Add new country</h4>-->
<!--</div>-->
<!--<form (ngSubmit)="onSave(form)" [formGroup]="form">-->
<!--<div class="modal-body mx-3">-->
<!--&lt;!&ndash;Name&ndash;&gt;-->
<!--<div class="md-form mb-5">-->
<!--<input *ngIf="editMode" data-error="Required field" data-success="" class="form-control" type="text"-->
<!--[(ngModel)]="currentCountry.name" formControlName="name" id="editName" mdbInputDirective>-->
<!--<label *ngIf="editMode" for="editName">Name</label>-->
<!--<input *ngIf="!editMode" data-error="Required field" data-success="" class="form-control" type="text"-->
<!--ngModel formControlName="name" id="saveName" mdbInputDirective>-->
<!--<label *ngIf="!editMode" for="saveName">Name</label>-->
<!--</div>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Cancel"-->
<!--(click)="onCancel(form); basicModal.hide()" mdbWavesEffect>Cancel-->
<!--</button>-->
<!--<button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect-->
<!--[disabled]="!form.valid" (click)="basicModal.hide()">{{submitType}}</button>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="container-fluid">-->
<!--<div class="row">-->
<!--<div class="col-md-2">-->
<!--<h4>Filtering</h4>-->
<!--<div *ngFor="let item of filterItems; let i = index">-->
<!--<mdb-checkbox (change)="checkBoxClick(item)" [checked]="item.checked">{{item.title}}</mdb-checkbox>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-8">-->
<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>#</th>-->
<!--<th (click)="sortBy('name', orderOfSort)">Name-->
<!--<mdb-icon icon="sort"></mdb-icon>-->
<!--</th>-->
<!--<th></th>-->
<!--<th></th>-->
<!--</tr>-->
<!--</thead>-->

<!--<tbody>-->

<!--<tr *ngFor="let country of countries; let i = index">-->
<!--<th scope="row">{{ country.id }}</th>-->
<!--<td>{{ country.name }}</td>-->
<!--<td>-->
<!--<button type="button" class="btn btn-info" (click)="basicModal.show();onEdit(i)">Edit</button>-->
<!--</td>-->
<!--<td>-->

<!--<button type="button" class="btn btn-danger" (click)="removeConfirmModal.show(); deleteId = i;">Delete-->
<!--</button>-->

<!--</td>-->
<!--<div mdbModal #removeConfirmModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"-->
<!--aria-labelledby="myBasicModalLabel" aria-hidden="true">-->
<!--<div class="modal-dialog" role="document">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button type="button" class="close pull-right" aria-label="Close" (click)="removeConfirmModal.hide()">-->
<!--<span aria-hidden="true">×</span>-->
<!--</button>-->
<!--<h4 class="modal-title w-100" id="removeConfirmModal">Warning message</h4>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<p>Are you sure you want to delete this item?</p>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Cancel"-->
<!--(click)="removeConfirmModal.hide(); deleteId=0;" mdbWavesEffect>Cancel-->
<!--</button>-->
<!--<button type="button" mdbBtn color="danger" class="relative waves-light"-->
<!--(click)="onDelete(deleteId); deleteId=0;" mdbWavesEffect>Delete-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->

<!--</div>-->
<!--<div class="regentry" *ngIf="showNew">-->

<!--<form (ngSubmit)="onSave()">-->

<!--</form>-->

<!--</div>-->
<!--<br>-->
<!--</div>-->


<!--<div class="container">-->
<!--<nav aria-label="Page navigation example" *ngIf="paging">-->
<!--<ul class="pagination justify-content-end">-->
<!--<li class="page-item" [ngClass]="{'disabled': numberOfPage === 1}">-->
<!--<a class="page-link" (click)="getTenCountries(numberOfPage - 1, false)" tabindex="-1">Previous</a>-->
<!--</li>-->
<!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--<li class="page-item"><a class="page-link" href="#">{{numberOfPage}}</a></li>-->
<!--<li class="page-item"><a class="page-link" href="#">{{countOfPages}}</a></li>-->
<!--<li class="page-item" [ngClass]="{'disabled': numberOfPage===countOfPages}">-->
<!--<a class="page-link" (click)="getTenCountries(numberOfPage + 1, true)">Next</a>-->
<!--</li>-->
<!--</ul>-->
<!--</nav>-->
<!--</div>-->
<!--</div>-->

