::ng-deep .mat-form-field label {
  font-size: 17px;
}

.mat-form-field {
  width: 75%;
}

#search-input {
  margin-left: 17px;
  width: 97%;
}

.header-row {
  margin-top: 50px;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

#filter-span {
  margin-left: 17px;
}

.content-block {
  margin-top: 30px;
}
