.modal-dialog {
  height: 100%;
}

.table-container {
  margin-top: 50px;
}

#search-input {
  width: 50%;
  display: inline-block;
  margin-right: 10px;
}

.input-form {
  float: right;
}

.btn-search {
  margin-bottom: 5px;
}

ul {
  margin-left: -37px;
}

li {
  list-style-type: none;
}

app-dynamic-form {
  height: 100%;
}

