<app-navbar></app-navbar>
<div class="container table-container">
  <div>
    <h1>{{header}}</h1>
  </div>
  <div class="reglist">
    <div class="row">
      <div class="col-md-6">
        <div class="text-left">
          <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="onNew()"
                  mdbWavesEffect>New
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group input-form">
          <input type="text" class="form-control" id="search-input" placeholder="Search"
                 [(ngModel)]="searchString" (keypress)="onEnter($event)">
          <button type="submit" class="btn btn-primary btn-search" (click)="onSearch()">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal id="mdbModal" #newModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" #modalContent id="modal-content" [style.height.%]="height">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="newModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 *ngIf="!editMode" class="modal-title w-100">Add new item</h4>
        <h4 *ngIf="editMode" class="modal-title w-100">Edit item</h4>
      </div>
      <div [style.overflow-y]="overflow">
        <app-dynamic-form *ngIf="editMode" [editMode]="editMode" [questions]="questions" [submitType]="submitType"
                          [currentItem]="currentItem" (isCancel)="onCancel($event)" [editedForm]="form"
                          (returnedItem)="onSave($event)"></app-dynamic-form>
        <app-dynamic-form *ngIf="!editMode" [questions]="questions" [submitType]="submitType"
                          (isCancel)="onCancel($event)" (returnedItem)="onSave($event)"></app-dynamic-form>
      </div>
    </div>
  </div>
</div>

<mat-card class="container table-container">
  <app-table-layout
    [records]="entities"
    [settings]="settings"
    [clickable]="clickable"
    [currentPage]="numberOfPage"
    (deletedId)="showRemoveConfirmModal($event)"
    (editedId)="onEdit($event)"
    (columnAttr)=sortBy($event)
  >
  </app-table-layout>


  <div mdbModal #removeConfirmModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="removeConfirmModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="removeConfirmModal">Warning message</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this item?</p>
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Cancel"
                  (click)="removeConfirmModal.hide(); deleteId=0;" mdbWavesEffect>Cancel
          </button>
          <button type="button" mdbBtn color="danger" class="relative waves-light"
                  (click)="onDelete(deleteId); deleteId=0; removeConfirmModal.hide();" mdbWavesEffect>Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation example" *ngIf="paging">
    <ul class="pagination justify-content-end no-margin-bottom">

      <li class="page-item" [ngClass]="{'disabled': numberOfPage===1}">
        <a class="page-link" (click)="onPrevPage()">Previous</a>
      </li>

      <li class="page-item" [ngClass]="{'disabled': numberOfPage===1}">
        <a class="page-link" (click)="getTenItems(1)">1</a>
      </li>

      <!--<li class="page-item"><a class="page-link">...</a></li>-->

      <li class="page-item"><a class="page-link">{{numberOfPage}}</a></li>

      <!--<li class="page-item"><a class="page-link">...</a></li>-->

      <li class="page-item" [ngClass]="{'disabled': numberOfPage===countOfPages}">
        <a class="page-link" (click)="getTenItems(countOfPages)">{{ countOfPages }}</a>
      </li>

      <li class="page-item" [ngClass]="{'disabled': numberOfPage===countOfPages}">
        <a class="page-link" (click)="onNextPage()">Next</a>
      </li>

    </ul>
  </nav>
</mat-card>
