<div class="seat-grid-container">
  <div *ngFor="let section of sections">

    <!--BEFORE EVERY SECTION-->
    <div *ngIf="section.cols > 0 && section.rows > 0">

      <!--SECTION NAME-->
      <div class="section-name" [style.box-shadow]="'0px 0px 11px 1px ' + section.colorCode">{{section.seatType.name}}</div>

      <!--SECTION COL NUMERATION-->
      <div class="flexible">
        <div *ngFor="let item of section.cols | makeIterable; let col = index" class="single-lined">
          <div class="column-label">{{col + 1 | asLiteral}}</div>
          <div *ngIf="col + 1 === section.cols / 2"
               class="column-label__empty"></div>
        </div>
      </div>
    </div>

    <!--SECTION RENDER-->
    <app-seat-type-section [viewMode]="viewMode"
                           [section]="section"
                           [(selectedSeats)]="selectedSeats"
                           [seats]="seats"></app-seat-type-section>

  </div>
</div>
