
.seat-grid-container {
  //padding: 1em 0;
  min-height: 300px;
}

.section-name {
  background-color: transparent;
  color: white;
  text-align: center;
  width: 100%;
  margin: 1em auto 0.7em;
}

.column-label {
  width: 80px;
  margin: 0 5px;
  text-align: center;

  &__empty {
    width: 100px;
  }
}

.flexible {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.single-lined {
  display: flex;
}
