.short-input {
  width: 100px !important;
  margin-left: 1em;
}

.seat-type-container {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.input-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.long-input {
  width: 100% !important;
}
