<div class="container table-container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th *ngFor="let map of columnMaps; let i = index">{{ map.header }}
        <span (click)="sortBy(map.sortAttr, i)" *ngIf="map.sortAttr!==undefined">
            <mdb-icon *ngIf="sortedDirections[i] === 0" icon="sort"></mdb-icon>
            <mdb-icon *ngIf="sortedDirections[i] === 1" icon="sort-up"></mdb-icon>
            <mdb-icon *ngIf="sortedDirections[i] === -1" icon="sort-down"></mdb-icon>
          </span>
      </th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="clickable">
      <tr *ngFor="let record of records; let i = index" (click)="redirect(i)">
        <td *ngFor="let map of columnMaps">
          {{ record[map.primaryKey] }}
        </td>
        <td>
          <button (click)="onEdit(i)" class="btn btn-info" type="button">Edit</button>
        </td>
        <td>
          <button (click)="onDelete(i)" class="btn btn-danger" type="button">Delete</button>
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf="!clickable">
      <tr *ngFor="let record of records; let i = index">
        <td *ngFor="let map of columnMaps">
          {{ record[map.primaryKey] }}
        </td>
        <td>
          <button (click)="onEdit(i)" class="btn btn-info" type="button">Edit</button>
        </td>
        <td>
          <button (click)="onDelete(i)" class="btn btn-danger" type="button">Delete</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
