.table-container {
  margin-top: 50px;
  overflow: auto;
  margin-bottom: 15px;
}

#search-input {
  width: 50%;
  display: inline-block;
  margin-right: 10px;
}

.input-form {
  float: right;
}

.btn-search {
  margin-bottom: 5px;
}

table {
  td, th {
    text-align: center;
    vertical-align: middle;
  }
}

ul {
  margin-left: -37px;
}

li {
  list-style-type: none;
}

.t_line:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
