<div [formGroup]="form">
  <div *ngIf="editMode">
    <div *ngIf="question.type !== 'tel' && question.type !== 'date' && question.type !== 'select'">
      <label *ngIf="question.edit" [attr.for]="question.key">{{question.label}}</label>
      <input *ngIf="question.edit" [formControlName]="question.key" [id]="question.key"
             [type]="question.type" class="form-control" mdbInputDirective mdbValidate>
    </div>
    <div *ngIf="question.type === 'date'">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="{{question.label}}" [formControlName]="question.key">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div *ngIf="question.type === 'tel'" class="tel-input">
      <intl-tel-input [enablePlaceholder]="true" [formControlName]="question.key" [preferredCountries]="['ua', 'gb', 'de', 'be']"
                      mdbInputDirective
                      mdbValidate></intl-tel-input>
    </div>
    <div *ngIf="question.type === 'select'">
      <mat-form-field>
        <mat-select placeholder="{{question.label}}" [formControlName]="question.key">
          <mat-option *ngFor="let role of selectKeys" [value]="role">
            {{question.value[role]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mdb-error
      *ngIf="form.controls[question.key].invalid && (form.controls[question.key].dirty || form.controls[question.key].touched)">
      <span *ngIf="form.controls[question.key].errors.required">{{question.label}} is required</span>
      <span *ngIf="form.controls[question.key].errors.validateEmail"> This email address is not valid.</span>
      <span *ngIf="form.controls[question.key].errors.validatePhone"> Phone number is required. </span>
      <span *ngIf="form.controls[question.key].errors.validatePhoneNumber"> This phone number is not valid.</span>
    </mdb-error>
    <mdb-success
      *ngIf="form.controls[question.key].valid && (form.controls[question.key].dirty || form.controls[question.key].touched)">
      Input valid
    </mdb-success>
  </div>

  <div *ngIf="!editMode">
    <div *ngIf="question.type !== 'tel' && question.type !== 'date' && question.type !== 'select'">
      <label [attr.for]="question.key">{{question.label}}</label>
      <input [formControlName]="question.key" [id]="question.key"
             [type]="question.type" class="form-control" mdbInputDirective mdbValidate>
    </div>
    <div *ngIf="question.type === 'date'">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="{{question.label}}" [formControlName]="question.key">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div *ngIf="question.type === 'tel'" class="tel-input">
    <intl-tel-input [enablePlaceholder]="true" [formControlName]="question.key" [preferredCountries]="['ua', 'gb', 'de', 'be']"
                    mdbInputDirective
                    mdbValidate></intl-tel-input>
  </div>
    <div *ngIf="question.type === 'select'">
      <mat-form-field>
        <mat-select placeholder="{{question.label}}" [formControlName]="question.key">
          <mat-option *ngFor="let role of selectKeys" [value]="role">
            {{question.value[role]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mdb-error
      *ngIf="form.controls[question.key].invalid && (form.controls[question.key].dirty || form.controls[question.key].touched)">
      <span *ngIf="form.controls[question.key].errors.required">{{question.label}} is required. </span>
      <span *ngIf="form.controls[question.key].errors.validateEmail"> This email address is not valid.</span>
      <span *ngIf="form.controls[question.key].errors.validatePhone"> Phone number is required. </span>
      <span *ngIf="form.controls[question.key].errors.validatePhoneNumber"> This phone number is not valid.</span>
    </mdb-error>
    <mdb-success
      *ngIf="form.controls[question.key].valid && (form.controls[question.key].dirty || form.controls[question.key].touched)">
      Input valid
    </mdb-success>
  </div>
</div>

