<div>
  <div class="modal-body mx-3">
    <div *ngFor="let question of questions" class="md-form mb-5">
      <app-form-input [editMode]="editMode" [form]="form" [question]="question"></app-form-input>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="onCancel(form);" aria-label="Cancel" class="waves-light" color="secondary" mdbBtn mdbWavesEffect
            type="button">Cancel
    </button>
    <button (click)="onSubmit();" [disabled]="!form.valid" class="relative waves-light" color="primary" mdbBtn mdbWavesEffect
            type="submit">{{submitType}}</button>
  </div>
</div>
