mdb-error span {
  color: #ff4444;
  display: block;
  margin-top: 5px;
}

mdb-success {
  color: #00C851;
  display: block;
  margin-top: 5px;
}

.tel-input {
  width: 100%;
}

::ng-deep intl-tel-input input {
  width: 361px !important;
}

::ng-deep .mat-form-field {
  width: 440px !important;
}

::ng-deep .mat-form-field-infix {
  width: 419px !important;
}

::ng-deep .cdk-overlay-container {
  position: fixed !important;
  z-index: 100000 !important; /* set value you need */
}

mat-form-field, mat-form-field ::ng-deep .mat-form-field-infix{
  width: 100% !important;
}
