<div>
  <form [formGroup]="form">
    <div class="modal-body mx-3">
      <div *ngFor="let question of questions" class="md-form mb-5">
        <app-form-input [question]="question" [form]="form" [currentItem]="currentItem" [editMode]="editMode"></app-form-input>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Cancel" (click)="onCancel(form);" mdbWavesEffect>Cancel</button>
      <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect [disabled]="!form.valid" (click)="onSubmit();">{{submitType}}</button>
    </div>
  </form>
</div>
