$disabled-color: #bababa;

$selected-background: #002445;
$selected-font-color: #FFFD50;

.seat {
  width: 80px;
  height: 80px;
  min-width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 5px;
}


.disabled {
  background-color: $disabled-color !important;
  color: $disabled-color !important;
}

.selected {
  background-color: $selected-background !important;
  color: $selected-font-color !important;
}
