<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">Airport</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item"
          *ngIf="authModel.authority === role.ROLE_USER.toString() || authModel.authority === role.ROLE_CASHIER.toString()
                  || authModel === null"
          routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="/personal-area">Purchase a ticket</a>
      </li>
      <li class="nav-item" *ngIf="authModel.authority === role.ROLE_ADMIN.toString()" routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="/users">Users</a>
      </li>

      <li class="nav-item" *ngIf="authModel.authority === role.ROLE_ANALYST.toString()" routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="/analytics">Analytics</a>
      </li>

      <li class="nav-item" *ngIf="authModel.authority === role.ROLE_CONTROLLER.toString()" routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="/flight-control">Flight control</a>
      </li>

      <li class="nav-item" *ngIf="authModel.authority === role.ROLE_CONTROLLER.toString()" routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="/flight-edit">Flight edit</a>
      </li>

      <li class="nav-item dropdown" dropdown
          *ngIf="authModel.authority === role.ROLE_ADMIN.toString()" routerLinkActive="active">
        <a mdbDropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Airplanes<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/airplanes">Airplanes</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/seats">Seats</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/extra-type">Extra services</a>
        </div>
      </li>

      <li class="nav-item dropdown" dropdown
          *ngIf="authModel.authority === role.ROLE_ADMIN.toString()" routerLinkActive="active">
        <a mdbDropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Locations<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/countries">Countries</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/airports">Airports</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/airlines">Airlines</a>
        </div>
      </li>
    </ul>

    <div style="width: 165px; display: inherit" *ngIf="authModel === null">
      <a class="nav-item nav-link" routerLink="login">Log in</a>
      <a class="nav-item nav-link" routerLink="signup">Sign up</a>
    </div>

    <div *ngIf="authModel !== null" class="dropdown" mdbDropdown>

      <a class="nav-link dropdown-toggle" mdbDropdownToggle type="button"
         aria-haspopup="true" aria-expanded="false">
        <span class="name">
          {{ authModel.login }}
        </span>
      </a>

      <div class="dropdown-menu dropdown-right">
        <div *ngIf="authModel.authority !== role.ROLE_USER.toString()">
          <a class="dropdown-item" routerLink="/profile">Profile</a>
        </div>
        <div *ngIf="authModel.authority === role.ROLE_USER.toString()">
          <a class="dropdown-item" routerLink="/flights">Flights</a>
          <a class="dropdown-item" routerLink="/payment">Payment methods</a>
          <a class="dropdown-item" routerLink="/passengers">Passengers</a>
        </div>
        <a class="dropdown-item" (click)="onLogout()"><i class="fa fa-power-off icon"></i> Log out</a>
      </div>
    </div>
  </div>
</nav>
