<mat-expansion-panel>

  <mat-expansion-panel-header>
    <mat-panel-title>
      Plane: {{plane.model}}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div *ngIf="plane.airline" class="plane-info-section">
    <hr class="divider">

    <span class="airline-title">Airline info</span>

    <mat-form-field>
      <input matInput placeholder="Name"
             [ngModel]="plane.airline.name"
             disabled>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Description"
             [ngModel]="plane.airline.descr"
             disabled>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email"
             [ngModel]="plane.airline.email"
             disabled>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Phone number"
             [ngModel]="plane.airline.phoneNumber"
             disabled>
    </mat-form-field>
  </div>
  <p *ngIf="!plane.airline">no airline</p>

</mat-expansion-panel>
