<app-navbar></app-navbar>
<div class="face">
  <div class="band">
    <div class="red"></div>
    <div class="white"></div>
    <div class="blue"></div>
  </div>
  <div class="eyes"></div>
  <div class="dimples"></div>
  <div class="mouth"></div>
</div>

<h1>Oops! Page does not exist!</h1>
<div class="container" style="margin-top: 15px;">
  <div class="row">
    <a href="/home" style="margin: 0 auto">
      <button type="button" mdbBtn color="primary" mdbWavesEffect>Go Crazy. Go Stupid (home)</button>
    </a>
  </div>
</div>

