.search-container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 30px;
}

.departure-input {
  width: 100%;
  padding-right: 5px;
}

.departure-col {
  padding-right: 0;
}

.destination-input {
  width: 100%;
}

.destination-col {
  padding-left: 0;
}

.departure-date {
  width: 100%;
  padding-right: 5px;
}

.departure-date-col {
  padding-right: 0;
}

.return-date {
  width: 100%;
}

.return-date-col {
  padding-left: 0;
}

mat-radio-group {
  margin-left: 15px;
}

mat-radio-button {
  margin-right: 5px;
}

