<!--<app-navbar></app-navbar>-->
<div class="container search-container">
  <div class="row">
    <mat-radio-group name="flight-type-list radio-group" [(ngModel)]="defaultFlightType">
      <mat-radio-button *ngFor="let flightType of flightTypes" [value]="flightType.name" name="flight-type-list radio-button"
                        (click)="changeFlightType()">{{flightType.name}}</mat-radio-button>
    </mat-radio-group>
  </div>
  <form [formGroup]="searchForm">
  <div class="row">
    <div class="col-md-3 departure-col">
      <mat-form-field appearance="outline" class="mat-form-input-field departure-input">
        <mat-label>Departure</mat-label>
        <input formControlName="departureCity" [(ngModel)]="departureCity" matInput placeholder="From"
               (keyup)="onKeyUpForDepartureCities($event)" [matAutocomplete]="departureAuto">
        <mat-autocomplete #departureAuto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let city of departureCities" [value]="city">
            {{city}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-md-3 destination-col">
      <mat-form-field appearance="outline" class="mat-form-input-field destination-input">
        <mat-label>Destination</mat-label>
        <input formControlName="destinationCity" [(ngModel)]="destinationCity" matInput placeholder="To"
               (keyup)="onKeyUpForDestinationCities($event)" [matAutocomplete]="destinationAuto">
        <mat-autocomplete #destinationAuto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let city of destinationCities" [value]="city">
            {{city}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-md-3 departure-date-col">
      <mat-form-field appearance="outline" class="datepicker departure-date">
        <mat-label>Departure date</mat-label>
        <input formControlName="departureDate" [(ngModel)]="departureDate" matInput (click)="date_picker.open()"
               [min]="minDate" [matDatepicker]="date_picker">
        <mat-datepicker-toggle matSuffix [for]="date_picker"></mat-datepicker-toggle>
        <mat-datepicker #date_picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-3 return-date-col">
      <mat-form-field *ngIf="defaultFlightType == 'Round trip' " appearance="outline" class="datepicker return-date">
        <mat-label>Return date</mat-label>
        <input formControlName="returnDate" [(ngModel)]="returnDate" matInput (click)="date_picker_back.open()" [min]="minDate"
               [matDatepicker]="date_picker_back" placeholder="Choose a return date">
        <mat-datepicker-toggle matSuffix [for]="date_picker_back"></mat-datepicker-toggle>
        <mat-datepicker #date_picker_back></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  </form>
  <div class="row">
      <div class="col-md-3">
        <button mat-flat-button color="primary" class="btn btn-primary btn-flight" (click)="searchFlight()">Search flights</button>
      </div>
  </div>
</div>

<div *ngIf="showResult">
  <div *ngIf="flights.length > 0">
    <div *ngIf="!flightType">
      <app-flight-result [flights]="flights" [flightType]="flightType"></app-flight-result>
    </div>
    <div *ngIf="flightType">
      <app-flight-result [flights]="flights" [returnFlights]="returnFlights" [flightType]="flightType"></app-flight-result>
    </div>
  </div>
</div>


