<!--<app-navbar></app-navbar>-->
<div class="flight-booking">
  <div class="flight-booking-container">
    <div class="flight-type main-search-left">
      <mat-radio-group name="flight-type-list" [(ngModel)]="defaultFlightType">
        <mat-radio-button *ngFor="let flightType of flightTypes" [value]="flightType.name" name="flight-type-list">{{flightType.name}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="search-form">
      <div class="main-search-left">
        <div class="search-items-fields">
          <div class="search-item-from">
            <mat-form-field appearance="outline" class="mat-form-input-field">
              <mat-label>Departure</mat-label>
              <input [(ngModel)]="departureCity" matInput placeholder="From">
            </mat-form-field>
          </div>
          <div class="search-item-to">
            <mat-form-field appearance="outline" class="mat-form-input-field">
              <mat-label>Destination</mat-label>
              <input [(ngModel)]="destinationCity" matInput placeholder="To">
            </mat-form-field>
          </div>
        </div>
        <div class="<datepicker-wrapper">
          <div class="datepicker-to">
            <mat-form-field appearance="outline" class="datepicker">
              <mat-label>Departure date</mat-label>
              <input [(ngModel)]="departureDate" matInput (click)="date_picker.open()" [min]="minDate" [matDatepicker]="date_picker">
              <mat-datepicker-toggle matSuffix [for]="date_picker"></mat-datepicker-toggle>
              <mat-datepicker #date_picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="datepicker-back">
            <mat-form-field *ngIf="defaultFlightType == 'Round trip' " appearance="outline" class="datepicker">
              <mat-label>Return date</mat-label>
              <input [(ngModel)]="returnDate" matInput (click)="date_picker_back.open()" [min]="minDate" [matDatepicker]="date_picker_back" placeholder="Choose a return date">
              <mat-datepicker-toggle matSuffix [for]="date_picker_back"></mat-datepicker-toggle>
              <mat-datepicker #date_picker_back></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="search-button">
      <div class="main-search-left">
        <div class="search-btn-item">
          <button mat-flat-button color="primary" class="btn btn-primary btn-flight" (click)="searchFlight()">Search flights</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-flight-result [flights]="flights"></app-flight-result>

