<div class="single-lined">
  <div class="card-shadow">
    <span class="label">NO DEBUG</span>
    <mat-slide-toggle (change)="isDebug = $event.checked"></mat-slide-toggle>
    <span class="label">DEBUG</span>
  </div>

  <div class="card-shadow">
    <span class="label">EDIT</span>
    <mat-slide-toggle (change)="toggleViewMode($event.checked)"></mat-slide-toggle>
    <span class="label">SELECT</span>
  </div>
</div>

<mat-sidenav-container class="plane-seats__editor">
  <mat-sidenav-content *ngIf="seats">
    <app-airplane-seats [seats]="seats"
                        [(selectedSeats)]="selectedSeats"
                        [(sections)]="sections"
                        [viewMode]="viewMode"></app-airplane-seats>
  </mat-sidenav-content>

  <mat-sidenav class="plane-seats-container" opened mode="side" position="end">
    <app-plane-editor [plane]="plane"
                      [(seats)]="seats"
                      [seatTypes]="seatTypes"
                      [sections]="sections"></app-plane-editor>
  </mat-sidenav>
</mat-sidenav-container>

<button mat-flat-button color="primary" class="right-sided-btn" (click)="saveSeats()">SAVE</button>

<!--DEBUG-->
<div *ngIf="isDebug">
  <h2>sections:</h2>
  <ul>
    <li *ngFor="let section of sections">{{section.toString()}}</li>
  </ul>

  <h2 *ngIf="selectedSeats.size != 0">selected:</h2>
  <ul>
    <li *ngFor="let selSeat of selectedSeats">{{selSeat}}</li>
  </ul>

  <h2>seats:</h2>
  <ul>
    <li *ngFor="let seat of seats">{{seat.toString()}}</li>
  </ul>
</div>
