.right-sided-btn {
  float: right;
  margin: 5px 5px;
}

.plane-seats-container {
  padding: 0 2em;
  min-width: 40%;
  width: 50%;
}

.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  width: fit-content;
}

.label {
  margin: 10px;
}

.single-lined {
  display: flex;
}

.plane-seats__editor {
  min-height: 600px;
}
